<button>
    hospital
</button>

<style>
button {
    border: 2px solid blue;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 7px;
    font-weight: bolder;
}
</style>